.realtime_container {
    background-image: url("../../images/tooltip.png");
    width: 500px;
    height: 50px;
    display: block;
    
}

.lineNm {
    font-size: 2em;
    text-align: center;
}

.updn {
    font-size: 1.5em;
    text-align: left;
}

.dnrealtime{
    text-align: left;
   
}
.uprealtime{
    text-align: left;
}

.realtime_content {
    display: flex;
    justify-content: flex-start;
    margin-left: 0px;
}

.up{
    width: 250px;
    margin-left: 0px;
}
.dn{
    width: 250px;
    margin-left: auto;
    margin-right: 0px;
}