.searchBtn{
    background-color: black;
    color: white;
    border: thick;
    margin-right: 30px;
    margin-bottom: 20px;
    float: right;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    font-size: large;
}

.center{
    text-align: center;
}

.dim {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 배경을 음영 처리 */
    z-index: 9998; /* 배경을 모달 창 아래로 */
}
  
.modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999; /* 모달 창을 맨 앞으로*/
        background-color: #fff;
        width: 40%;
        height: 60%;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);     
}