.searchBtn{
    background-color: skyblue;
    color: white;
    border: none;
    width: 100px;
    height: 30px;
  }

.center{
    text-align: center;
}

.right{
    text-align: right;
}

.dim {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 배경을 음영 처리 */
    z-index: 9998; /* 배경을 모달 창 아래로 */
}
  
.modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999; /* 모달 창을 맨 앞으로*/
        background-color: #fff;
        width: 300px;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);     
}